
.response-content .fragment-content, .response-headers .fragment-content, .request-headers .fragment-content{
    font: 10px Courier New, Courier New, monospace;
    white-space: pre;
    overflow: hidden;
    word-wrap: break-word;
}