body {
    margin: 24pt;
    background-color: #eee;
    margin-left: auto ;
    margin-right: auto ;
}

body.mobile {
    width: 100%;
    min-width: 320px ;
}

body.narrow {
    max-width: 640px ;
}

body.wide {
    max-width: 1024px ;
}


/** Page Layout **/

.page {
    border: 1pt solid #aaa;
}

body.wide .page {
    border: 2pt solid #aaa;
}

.header {
    background-color: #e0e0e0;
    height: 100pt;
    padding: 3pt;
}

.navbar {

}

.content {
    padding: 12pt;
}

.footer {
    background-color: #e0e0e0;
    clear: both ;
    padding: 3pt;
}


/** Simple Body With Nav Bar Layout **/

.navbar {
    background-color: #e0e0e0;
    border: solid #aaa;
    border-width: 1pt 1pt 1pt 0;
    float: left;
    width: 200px;
    padding: 3pt;
    margin: 0 3pt 3pt 0;
    min-height: 60pt;
}

.content {
    border: solid #aaa;
    border-width: 1pt 0;
    min-height: 300pt;
}

/* Fragment */

.fragment {
    margin: 3pt;
}

/* ITableTheme */

.table {
    background-color: #e0e0e0;
    border: solid #aaa;
    border-width: 1pt 0;
    margin: 3pt;
    border-collapse: collapse;
}

.table.error {
    background-color: #DBB;
    border: solid #aaa;
    border-width: 1pt 0;
    margin: 3pt;
    border-collapse: collapse;
}

.table .table-header {
    background-color: #bbb;
    border: solid #aaa;
    border-width: 1pt 0;
}

.table.error .table-header {
    background-color: #CAA;
}

table.table td, table.table th {
    padding: 1pt 3pt 3pt 8pt;
}

/* Misc: */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}