body {
    margin: 24pt;
    background-color: #eee;
    margin-left: auto ;
    margin-right: auto ;
}

body.mobile {
    width: 100%;
    min-width: 320px ;
}

body.narrow {
    max-width: 640px ;
}

body.wide {
    max-width: 1024px ;
}


/** Page Layout **/

.page {
    border: 1pt solid #aaa;
}

body.wide .page {
    border: 2pt solid #aaa;
}

.header {
    background-color: #e0e0e0;
    height: 100pt;
    padding: 3pt;
}

.navbar {

}

.content {
    padding: 12pt;
}

.footer {
    background-color: #e0e0e0;
    clear: both ;
    padding: 3pt;
}

/** Simple Body With Nav Bar Layout **/

.navbar {
    background-color: #e0e0e0;
    border: solid #aaa;
    border-width: 1pt 1pt 1pt 0;
    float: left;
    width: 200px;
    padding: 3pt;
    margin: 0 24pt 6pt 0;
    min-height: 60pt;
}

.navbar-menu
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 9pt;
}
body.wide .navbar-menu { font-size: 10pt; }
body.narrow .navbar-menu, { font-size: 9pt; }
body.mobile .navbar-menu { font-size: 8pt; }

.navbar-menu {
    padding: 3pt;
}

.navbar-menu a
{
    display: block;
    color: #66A;
    font-weight: bold;
    text-decoration: none;
    padding: 1pt;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.navbar-menu a:hover
{
    background-color: #CCC;
}

.content {
    border: solid #aaa;
    border-width: 1pt 0;
    min-height: 300pt;
}

/* Fragment */

.fragment {
    margin: 3pt;
    padding: 3pt;
    background-color: #fbfbfb;
    border: solid #bbb 1px;
    font: 11px Arial, Helvetica, Geneva, sans-serif;
}

.fragment .fragment { background-color: #f9f9f9; }
.fragment .fragment .fragment { background-color: #f7f7f7; }
.fragment .fragment .fragment .fragment { background-color: #f5f5f5; }


.fragment-title {
    background-color: #ddd;
    padding: 2pt 4pt;
    margin: 0;
}

/* ITableTheme */

.table {
    background-color: #fff;
    border: solid #ccc 1px;
    margin: 3pt;
    border-collapse: collapse;
    font: 11px Arial, Helvetica, Geneva, sans-serif;
    display: inline-block;
}

.table a {
    text-decoration: none;
}
.table a:hover {
    text-decoration: underline;
}

.table.error {
}

table.table th {
    background-color: #ddd;
    padding: 2pt 4pt;
}

table.table tfoot th {
    font-weight: normal;
}


table.table tbody th {
    background-color: #e5e5e5;
}

table.table.error th {
    background-color: #CAA;
}

table.table td, table.table th {
    border: 1px solid #ddd;
}

table.table thead tr {
}

table.table tbody td {
    padding: 3pt 5pt 3pt 5pt;
}

table.table tbody td input { margin: 0; padding: 0; border: 0; }
table.table tbody td select { margin: 0; padding: 0; border: 0; }
table.table tbody td  { overflow: hidden;  }

body.wide .table, body.wide .table input, body.wide .table select { font-size: 8pt; }
body.narrow .table, body.narrow .table input, body.narrow .table select { font-size: 7pt; }
body.mobile .table, body.mobile .table input, body.mobile .table select { font-size: 6pt; }

/* Search: */

.search-form-controls {
    position: relative;
}

.search-form-page-previous, .search-form-page-next{
    padding: 1pt;
    top: 1pt;
    position: absolute;
}

.search-form-page-next {
    right: 1pt;
}

.search-form-page-previous {
    left: 1pt;
}

.search-form-pages {
    margin: 0 48pt;
}

/* Misc: */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}