ul.html-map-renderer {
    list-style: none;
    font-family: monospace;
}

ul.key-map {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 300px;
}


li.sequence-item {
    display: inline-block;
    margin-bottom: .5em;
}

li.key-map-title {
    text-align: center;
    border-bottom: 1px solid #ccc;;
}

li.key-map-title span.key-value {
    font-weight: bold;
}

li.key-map-title label.key-name {
    display: none;
}


li.key-map-pair label.key-name {
    font-weight: bold;
    margin-right: 10pt;
    vertical-align: top;
    min-width: 50px;
    /*display: inline-block;*/
    float: left;
}

li.key-map-pair span.key-value {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
}

li.key-map-pair ul.html-map-renderer {
}

