
/* APIView */


body.mobile table.table .table-field-num { display: none; }
body.mobile table.table .table-field-required { display: none; }

/* HandlerSetView */

.response-content, .response-headers, .request-headers {
    font: 10px Courier New, Courier New, monospace;
    white-space: pre;
    overflow: hidden;
    word-wrap: break-word;
}