
.navbar {
    float: left;
    max-width: 14em;
    margin: 0 2em 2em 0
}

.navbar .no-login a.login-only,
.navbar .login-only a.no-login {
    display: none;
}
.navbar a {
    display: block;
    text-decoration: none;
}

.navbar a:visited {
    font-size: 1em;
}

.navbar a:hover {
    font-style: italic;
    background-color: #ccc;
}

.navbar a:active {
    color:#0000FF;
}

.navbar .navbar-title {
    font-size: 1em;
    text-overflow: ellipsis;
    overflow-x: hidden;
    display: inline-block;
}